@* @rendermode InteractiveServer

<button class="btn btn-sm btn-outline-primary"
        @onclick="Toggle">
    Show / Hide
</button>

@if (!HideLabel)
{
    <p>I am visible</p>
}

@code {
    private bool HideLabel;

    private void Toggle()
    {
        HideLabel = !HideLabel;
    }
} *@