.card {
    border-color: purple;
    border-width: thick;

    /* --=-- For hover float effect --=-- */
    margin-top: 2px;
    transition: transform 0.2s ease-in-out;
    /* --=-- For hover float effect --=-- */
}
    .card:hover {
        transform: translateY(-6px);
    }

.profile-image {
    outline-color: purple;
    outline-width: thick;
    outline-style: solid;
}
    
