.btn-primary {
    color: white;
    background-color: purple;
    border-color: purple;
}
    .btn-primary:hover {
        background-color: white;
        color: purple;
    }

btn-outline-primary{
    color: purple;
    border-color: purple;
}
    btn-outline-primary:hover {
        background-color: purple;
        color: white;
    }