@page "/RegisterUser"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject AuthService AuthService

<link rel="stylesheet" href="css/register.css">

<PageTitle>Register</PageTitle>

<div class="register-wrapper">
    <div class="register-card">
        <h3 class="register-title">Create an account</h3>

        <form class="register-form">
            <div class="mb-3">
                <label class="form-label">Email (Less than 254 characters)</label>
                <InputText type="email" class="form-control" @bind-Value="email" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Password: (5-128 characters)</label>
                <InputText type="password" class="form-control" @bind-Value="password" required />
            </div>

            <div class="mb-3">
                <label class="form-label">First Name (Less than 50 characters)</label>
                <InputText type="text" class="form-control" @bind-Value="firstName" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Last Name (Less than 50 characters)</label>
                <InputText type="text" class="form-control" @bind-Value="lastName" required />
            </div>

            <div class="form-actions">
                <button class="btn btn-primary primary-action" type="button" @onclick="RegisterAccount">Register</button>
            </div>
        </form>

        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <div class="alert alert-danger mt-2 register-error">@ErrorMessage</div>
        }
    </div>
</div>

@code {
    private string email = "";
    private string password = "";
    private string firstName = "";
    private string lastName = "";
    private string ErrorMessage { get; set; } = string.Empty;

    private async Task RegisterAccount()
    {
        ErrorMessage = string.Empty;
        Console.WriteLine($"[Register Attempt] Email: '{email}', Password:'{password}', First Name: '{firstName}', Last Name: '{lastName}'");

        var success = await AuthService.IsUser(email, password, firstName, lastName);

        if (success)
        {
            Console.WriteLine("[RegisterUser] Register successful!");
            Navigation.NavigateTo("/", forceLoad: true);
        }
        else
        {
            ErrorMessage = "Registration Invalid. Please make sure the email is unique and the first/last name and password meet criteria.";
            Console.WriteLine("[RegisterUser] Register failed.");
        }
    }
}