.btn-primary {
    color: white;
    background-color: purple;
    border-color: purple;
}
    .btn-primary:hover {
        background-color: white;
        color: purple;
    }

.btn-outline-primary {
    color: purple;
    border-color: purple;
}
    .btn-outline-primary:hover {
        background-color: purple;
        color: white;
    }


.btn-success {
    background-color: purple;
    border-color: black;
}



.btn-link {
    background-color: purple;
}

.form-select {
    color: purple;
    border-color: purple;
}

.date-selector, .price-display {
    max-width: 25%;
    width: 25%;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem purple;
}

